.container {
  margin: 0;
  height: 30%;
  width: 95%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: gray;
  border-radius: 10px;

  justify-content: space-around;
}

.img {
  width: 20%;
  height: 80%;
  background-color: white;
  border-radius: 5%;
}

.content {
  width: 50%;
  height: 80%;
  /* background-color: white; */
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}
