header {
  background-color: black;
  opacity: 0.8;
  border-bottom: 2px;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
  z-index: 10;
  display: flex;
  left: 0;
}

header ul {
  display: flex;
  align-items: baseline;
  list-style: none;
  float: none;
  font-size: 15px;
}

header li {
  margin: 22px;
  flex: auto;
  color: white;
}

.logo {
  font-weight: bold;
  margin-left: 40px;
  color: white;
  font-size: 30px;
  /* margin: 0; */
}

.access {
  margin-right: 70px;
  font-size: 15px;
  color: white;
}

.access li {
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
}

.hide {
  display: none;
}

.header a:hover,
.header li:hover,
.header a:active,
.header a:active,
.header .access:hover {
  color: gray;
}
