section {
  display: block;
  width: 100%;
  margin: 0;
  /* background-color: yellow; */
}

.card {
  display: flex;
  width: 100%;
  /* background-color: purple; */
  /* margin: 0; */
}

h3 {
  /* background-color: yellow; */
  padding-bottom: 40px;
  padding-top: 40px;
  margin: auto;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  align-items: center;
}
